<div class="slds-form slds-grid slds-wrap slds-m-top--large" id="profile-details">
	<h1 class="slds-size--1-of-1 slds-section-title slds-col--padded slds-p-bottom--medium">I'm a Title</h1>
</div>
<div class="slds-form slds-grid slds-wrap slds-m-top--large" id="">
	<h1 class="slds-size--1-of-1 slds-section-title slds-col--padded slds-p-bottom--medium">I'm a Title</h1>
</div>

<script>
$(document).ready(function(){
 	window.profileDetails = [
		{label: 'Primary Phone Number', value: '--'},
		{label: 'Primary Phone Number Verified', value: '--'},
		{label: 'Secondary Phone Number', value: '--'}, 
		{label: 'Secondary Phone Number Verified', value: '--'},
		{label: 'Email ID', value: '--'},
		{label: 'Email ID Verified', value: '--'},
		{label: 'Fax Number', value: '--'},
		{label: 'Fax Number Verified', value: '--'},
		{label: 'Employer', value: '--'},
		{label: 'Gender', value: '--'},
		{label: 'Marital Status', value: '--'},
		{label: 'Primary Language', value: '--'},
		{label: 'Secondary Language', value: '--'},
		{label: 'Number of Children', value: '--'},
		{label: 'VIP Status', value: '--'},
		{label: 'Primary Citizenship', value: '--'},
		{label: 'Secondary Citizenship', value: '--'},
		{label: 'Permanent Resident', value: '--'},
		{label: 'Visa Type', value: '--'},
		{label: 'Source System ID', value: '--'},
		{label: 'Special Instructions', value: '--'},
		{label: 'Customer Lifetime Value', value: '--'},
		{label: 'Risk Profile', value: '--'},
		{label: 'Credit Score', value: '--'},
		{label: 'Branch ID', value: '--'},
		{label: 'External Source ID', value: '--'},
		{label: 'Segment of the Customer', value: '--'},
		{label: 'Date of Opening the Relationship', value: '--'},
		{label: 'Driver License Number and State', value: '--'},
		{label: 'Mother&#39;s Maiden Name', value: '--'},
		{label: 'Communication Preferences by Activity', value: '--'},
		{label: 'Channel Activity', value: '--'},
		{label: 'Channel Activity (List by Accounts)', value: '--'},
		{label: 'Out-Out of Marketing Material', value: '--'},
		{label: 'Marriage Date', value: '--'},
		{label: 'Income/Salary', value: '--'},
		{label: 'Education', value: '--'},
		{label: 'Affiliations', value: '--'},
		{label: 'Employer', value: '--'},
		{label: 'Employed Since', value: '--'},
		{label: 'Position', value: '--'},
		{label: 'Special Instructions', value: '--'},
		{label: 'Status', value: '--'},
		]
	// see if there are existing items
	// var currentData = localStorage.getItem('profileDetailsData')
	// Don't read the data from localstorage if theres already existing data
	//if (!currentData) {
		// Set data
		localStorage.setItem("profileDetailsData", JSON.stringify(profileDetails))
	//}

	// Get data
	var data = JSON.parse(localStorage.getItem('profileDetailsData'))
	var numID = 0;
	
	data.forEach(function(datum) {

		$('#profile-details').append('<div class="slds-col--padded slds-medium-size--1-of-2"> <div class="slds-form-element slds-form-separator"> <label class="slds-form-element__label">'+datum.label+'</label> <div>'+datum.value+'</div> </div> </div>') })

});

</script>