<div class="slds-card slds-card--empty">
  <header class="slds-card__header slds-grid">
    <div class="slds-media slds-media--center slds-has-flexi-truncate">
      <div class="slds-media__figure">
        <svg aria-hidden="true" class="slds-icon slds-icon-standard-case slds-icon--small">
          <use xlink:href="<%= asset_path('icons/standard-sprite/svg/symbols.svg') %>#case"></use>
        </svg>
      </div>
      <div class="slds-media__body">
        <h3 class="slds-text-heading--small slds-truncate">Cases (4)</h3>
      </div>
    </div>
    <div class="slds-no-flex">
      <div class="slds-button-group">
        <button class="slds-button slds-button--neutral slds-button--small">New</button>
        <button class="slds-button slds-button--icon-border-filled">
          <svg aria-hidden="true" class="slds-button__icon">
            <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#down"></use>
          </svg>
          <span class="slds-assistive-text">Show More</span>
        </button>
      </div>
    </div>
  </header>
  <section class="slds-card__body">
    <ul>
        <li class="slds-tile">
            <div class="slds-media">
                <div class="slds-media__body">
                    <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
                        <p class="slds-truncate slds-tile__title">
                            <a href="#">Case #:00001026</a>
                        </p>
                        <div>
                           <span class="slds-badge slds-theme--error">High Priority</span>
                        </div>
                    </div>
                    <ul class="slds-tile__detail slds-list--horizontal slds-has-dividers slds-text-body--small">
                        <li class="slds-truncate slds-list__item">Sarah Bui</li>
                        <li class="slds-truncate slds-list__item">Open</li> 
                    </ul>
                </div>
            </div>
        </li>
        <li class="slds-tile">
            <div class="slds-media">
                <div class="slds-media__body">
                    <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
                        <p class="slds-truncate slds-tile__title">
                            <a href="#">Case #:0000982</a>
                        </p>
                    </div>
                    <ul class="slds-tile__detail slds-list--horizontal slds-has-dividers slds-text-body--small">
                        <li class="slds-truncate slds-list__item">Victoria Jones</li>
                        <li class="slds-truncate slds-list__item">Open</li> 
                    </ul>
                </div>
            </div>
        </li>
        <li class="slds-tile">
            <div class="slds-media">
                <div class="slds-media__body">
                    <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
                        <p class="slds-truncate slds-tile__title">
                            <a href="#">Case #:00001257</a>
                        </p>
                    </div>
                    <ul class="slds-tile__detail slds-list--horizontal slds-has-dividers slds-text-body--small">
                        <li class="slds-truncate slds-list__item">Jeffery Williams</li>
                        <li class="slds-truncate slds-list__item">Open</li> 
                    </ul>
                </div>
            </div>
        </li>
	</ul>
  </section>
  <footer class="slds-card__footer"><a href="#">View All</a></footer>
</div>