<div class="slds-card slds-card--empty">
  <header class="slds-card__header slds-grid">
    <div class="slds-media slds-media--center slds-has-flexi-truncate">
      <div class="slds-media__figure">
        <svg aria-hidden="true" class="slds-icon slds-icon-standard-opportunity slds-icon--small">
          <use xlink:href="<%= asset_path('icons/standard-sprite/svg/symbols.svg') %>#opportunity"></use>
        </svg>
      </div>
      <div class="slds-media__body">
        <h3 class="slds-text-heading--small slds-truncate">Opportunities (10)</h3>
      </div>
    </div>
    <div class="slds-no-flex">
        <button class="slds-button slds-button--neutral slds-button--small">New</button>
    </div>
  </header>
  <section class="slds-card__body">
    <ul>
        <li class="slds-tile">
            <div class="slds-media">
                <div class="slds-media__body">
                    <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
                        <p class="slds-truncate slds-tile__title">
                            <a href="#">Benjamin Smith - Open Checking Account</a>
                        </p>
                        <div>
                            $15,000
                        </div>
                    </div>
                    <ul class="slds-tile__detail slds-list--horizontal slds-has-dividers slds-text-body--small">
                        <li class="slds-truncate slds-list__item">Proposal/Price Quote</li>
                        <li class="slds-truncate slds-list__item">
                           09/02/2015
                        </li>
                    </ul>
                </div>
            </div>
        </li>
		<li class="slds-tile">
            <div class="slds-media">
                <div class="slds-media__body">
                    <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
                        <p class="slds-truncate slds-tile__title">
                            <a href="#">Katherine Harper - Online Checking</a>
                        </p>
                        <div>
                            $12,000
                        </div>
                    </div>
                    <ul class="slds-tile__detail slds-list--horizontal slds-has-dividers slds-text-body--small">
                        <li class="slds-truncate slds-list__item">Proposal/Price Quote</li>
                        <li class="slds-truncate slds-list__item">
                           08/28/2015
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="slds-tile">
            <div class="slds-media">
                <div class="slds-media__body">
                    <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
                        <p class="slds-truncate slds-tile__title">
                            <a href="#">Deborah Munoz - Mobile Bill Pay</a>
                        </p>
                        <div>
                            $1,000
                        </div>
                    </div>
                    <ul class="slds-tile__detail slds-list--horizontal slds-has-dividers slds-text-body--small">
                        <li class="slds-truncate slds-list__item">Proposal/Price Quote</li>
                        <li class="slds-truncate slds-list__item">
                           08/19/2015
                        </li>
                    </ul>
                </div>
            </div>
        </li>
	</ul>
  </section>
  <footer class="slds-card__footer"><a href="#">View All</a></footer>
</div>