<div class="slds-card slds-card--empty">
  <header class="slds-card__header slds-grid">
    <div class="slds-media slds-media--center slds-has-flexi-truncate">
      <div class="slds-media__figure">
        <svg aria-hidden="true" class="slds-icon slds-icon-standard-task slds-icon--small">
          <use xlink:href="<%= asset_path('icons/standard-sprite/svg/symbols.svg') %>#task"></use>
        </svg>
      </div>
      <div class="slds-media__body">
        <h3 class="slds-text-heading--small slds-truncate">Tasks (2)</h3>
      </div>
    </div>
    <div class="slds-no-flex">
        <button class="slds-button slds-button--neutral slds-button--small">New</button>
    </div>
  </header>
  <section class="slds-card__body">
	<div class="slds-media slds-tile">
	  <div class="slds-media__figure">
	    <label class="slds-checkbox" for="mark-complete">
	      <input name="checkbox" type="checkbox" id="mark-complete" />
	      <span class="slds-checkbox--faux"></span>
	      <span class="slds-form-element__label slds-assistive-text">mark-complete</span>
	    </label>
	  </div>
	  <div class="slds-media__body">
	    <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
	      <p class="slds-tile__title slds-truncate"><a href="#">Follow Up with Sarah Bui on new credit card</a></p>
	      <span class="label">Today</span>
	    </div>
		<ul class="slds-tile__detail slds-list--horizontal slds-has-dividers slds-text-body--small">
            <li class="slds-truncate slds-list__item">Sarah Bui</li>
            <li class="slds-truncate slds-list__item">Call</li> 
        </ul>
	  </div>
	</div>
	<div class="slds-media slds-tile">
	  <div class="slds-media__figure">
	    <label class="slds-checkbox" for="mark-complete">
	      <input name="checkbox" type="checkbox" id="mark-complete" />
	      <span class="slds-checkbox--faux"></span>
	      <span class="slds-form-element__label slds-assistive-text">mark-complete</span>
	    </label>
	  </div>
	  <div class="slds-media__body">
	    <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
	      <p class="slds-tile__title slds-truncate"><a href="#">Review lead list</a></p>
	      <span class="label">Today</span>
	    </div>
		<ul class="slds-tile__detail slds-list--horizontal slds-has-dividers slds-text-body--small">
            <li class="slds-truncate slds-list__item">Me</li>
            <li class="slds-truncate slds-list__item">Task</li> 
        </ul>
	  </div>
	</div>				
	<div class="slds-media slds-tile">
	  <div class="slds-media__figure">
	    <label class="slds-checkbox" for="mark-complete">
	      <input name="checkbox" type="checkbox" id="mark-complete" />
	      <span class="slds-checkbox--faux"></span>
	      <span class="slds-form-element__label slds-assistive-text">mark-complete</span>
	    </label>
	  </div>
	  <div class="slds-media__body">
	    <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
	      <p class="slds-tile__title slds-truncate"><a href="#">Shadow customer service rep</a></p>
	      <span class="label">Tomorrow</span>
	    </div>
	    <ul class="slds-tile__detail slds-list--horizontal slds-has-dividers slds-text-body--small">
            <li class="slds-truncate slds-list__item">Me</li>
            <li class="slds-truncate slds-list__item">Service</li> 
        </ul>
	  </div>
	</div>
  </section>
  <footer class="slds-card__footer"><a href="#">View All</a></footer>
</div>