<!-- BEGIN Toast -->
<div class="slds-notify-container slds-hide" id="success-message">
  <div class="slds-notify slds-notify--toast slds-theme--success" role="alert">
    <span class="slds-assistive-text">Info</span>
    <button class="slds-button slds-notify__close">
      <svg aria-hidden="true" class="slds-button__icon slds-button__icon--inverse">
        <use xlink:href="/assets/icons/action-sprite/svg/symbols.svg#close"></use>
      </svg>
      <span class="slds-assistive-text">Close</span>
    </button>
    <div class="notify__content">
      <h2 class="slds-text-heading--small">Lead Created Successfully.</h2>
    </div>
  </div>
</div>
<!-- END Toast -->

<!-- BEGIN Lead Composer -->
<div class="slds-docked-composer slds-grid slds-grid--vertical slds-nowrap slds-hide slds-is-open" style="position:fixed; bottom:0; right:15px;" id="lead-composer">
  <div class="slds-docked-composer__header slds-grid slds-grid--align-spread slds-shrink-none">
    <div class="slds-media slds-media--center">
      <div class="slds-media__figure">
        <span class="slds-icon__container slds-icon-standard-lead">
          <svg aria-hidden="true" class="slds-icon slds-icon--small">
            <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#lead"></use>
          </svg>
        </span>
      </div>
      <div class="slds-media__body">New Lead</div>
    </div>
    <div class="slds-docked-composer__actions">
      <button class="slds-button slds-button--icon-bare slds-button--icon-inverse composer-minimize">
        <svg aria-hidden="true" class="slds-button__icon">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#minimize_window"></use>
        </svg>
        <span class="slds-assistive-text">Minimize window</span>
      </button>
      <button class="slds-button slds-button--icon-bare slds-button--icon-inverse expand-composer">
        <svg aria-hidden="true" class="slds-button__icon">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#expand_alt"></use>
        </svg>
        <span class="slds-assistive-text">Expand Composer</span>
      </button>
      <button class="slds-button slds-button--icon-bare slds-button--icon-inverse close-composer">
        <svg aria-hidden="true" class="slds-button__icon">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
        </svg>
        <span class="slds-assistive-text">Close</span>
      </button>
    </div>
  </div>
  <div class="slds-docked-composer__body slds-docked-composer__body--form slds-col slds-grid slds-grid--vertical slds-nowrap slds-size--1-of-1">
  <form id="lead-form">
    <div class="slds-grid slds-wrap">
      <div class="slds-size--1-of-2 slds-p-right--x-small">
        <label class="slds-form-element__control slds-size--1-of-2">
          <span class="slds-form-element__helper">First Name</span>
          <input class="slds-input" placeholder="First..." type="text" id="lead-first" />
        </label>
      </div>
      <div class="slds-size--1-of-2 slds-p-left--x-small">
        <label class="slds-form-element__control slds-size--1-of-2">
          <span class="slds-form-element__helper">Last Name</span>
          <input class="slds-input" placeholder="Last..." type="text" id="lead-last" />
        </label>
      </div>
      <div class="slds-form-element slds-size--1-of-1 slds-p-top--small">
        <label class="slds-form-element__label" for="selectSample1">Product Interest</label>
        <div class="slds-form-element__control">
          <select id="select1" class="slds-select">
            <option>Checking/Savings</option>
            <option>Credit</option>
            <option>Mortgage</option>
            <option>Loan</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</form>
  <div class="slds-docked-composer__footer slds-shrink-none">
    <div class="slds-float--right slds-grid slds-grid--align-end slds-size--1-of-2 slds-text-align--right">
      <button class="slds-button slds-button--brand composer-save" data-composer-type="small">Save</button>
    </div>
  </div>
</div>
<!-- END Lead Composer -->
<!-- BEGIN Lead Large -->
<div class="composer-large slds-hide" id="lead-large">
  <div aria-hidden="false" role="dialog" class="slds-modal slds-modal--large slds-docked-composer-modal slds-fade-in-open">
    <div class="slds-modal__container slds-docked-composer-modal">
      <div class="slds-modal__content">
        <div class="slds-docked-composer slds-grid slds-grid--vertical slds-nowrap slds-is-open">
          <div class="slds-docked-composer__header slds-grid slds-grid--align-spread slds-shrink-none">
            <div class="slds-media slds-media--center">
              <div class="slds-media__figure">
                <span class="slds-icon__container slds-icon-standard-lead">
                  <svg aria-hidden="true" class="slds-icon slds-icon--small">
                    <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#lead"></use>
                  </svg>
                  <span class="slds-assistive-text">Lead Icon</span>
                </span>
              </div>
              <div class="slds-media__body">New Lead</div>
            </div>
            <div class="slds-docked-composer__actions">
              <button class="slds-button slds-button--icon-bare slds-button--icon-inverse">
                <svg aria-hidden="true" class="slds-button__icon">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#minimize_window"></use>
                </svg>
                <span class="slds-assistive-text">Minimize window</span>
              </button>
              <button class="slds-button slds-button--icon-bare slds-button--icon-inverse">
                <svg aria-hidden="true" class="slds-button__icon">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#expand_alt"></use>
                </svg>
                <span class="slds-assistive-text">Expand Composer</span>
              </button>
              <button class="slds-button slds-button--icon-bare slds-button--icon-inverse close-composer-large">
                <svg aria-hidden="true" class="slds-button__icon">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                </svg>
                <span class="slds-assistive-text">Close</span>
              </button>
            </div>
          </div>
          <div class="slds-docked-composer__body slds-col slds-grid slds-grid--vertical slds-nowrap slds-size--1-of-1 slds-col--padded">

<form id="lead-form" class="slds-p-top--small">
    <div class="slds-grid slds-wrap">
      <div class="slds-size--1-of-2 slds-p-right--x-small">
        <label class="slds-form-element__control slds-size--1-of-2">
          <span class="slds-form-element__helper">First Name</span>
          <input class="slds-input" placeholder="First..." type="text" id="lead-firsta" />
        </label>
      </div>
      <div class="slds-size--1-of-2 slds-p-left--x-small">
        <label class="slds-form-element__control slds-size--1-of-2">
          <span class="slds-form-element__helper">Last Name</span>
          <input class="slds-input" placeholder="Last..." type="text" id="lead-lasta" />
        </label>
      </div>
      <div class="slds-form-element slds-size--1-of-1 slds-p-top--small">
        <label class="slds-form-element__label" for="selectSample1">Product Interest</label>
        <div class="slds-form-element__control">
          <select id="select1a" class="slds-select">
            <option>Checking/Savings</option>
            <option>Credit</option>
            <option>Mortgage</option>
            <option>Loan</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</form>

          <div class="slds-docked-composer__footer slds-shrink-none">
            <div class="slds-float--right slds-grid slds-grid--align-end slds-size--1-of-2 slds-text-align--right">
              <button class="slds-button slds-button--icon-container">
                <svg aria-hidden="true" class="slds-button__icon">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#link"></use>
                </svg>
                <span class="slds-assistive-text">Attach File</span>
              </button>
              <button class="slds-button slds-button--icon-container">
                <svg aria-hidden="true" class="slds-button__icon">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#insert_template"></use>
                </svg>
                <span class="slds-assistive-text">Insert Template</span>
              </button>
              <button class="slds-button slds-button--icon-container">
                <svg aria-hidden="true" class="slds-button__icon">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#insert_tag_field"></use>
                </svg>
                <span class="slds-assistive-text">Insert HTML</span>
              </button>
              <button class="slds-button slds-button--icon-container">
                <svg aria-hidden="true" class="slds-button__icon">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#preview"></use>
                </svg>
                <span class="slds-assistive-text">Preview</span>
              </button>
              <button class="slds-button slds-button--icon-container">
                <svg aria-hidden="true" class="slds-button__icon">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                </svg>
                <span class="slds-assistive-text">Delete</span>
              </button>
              <button class="slds-button slds-button--brand composer-save" data-composer-type="large">Save</button>
            </div>
            <div class="slds-float--left slds-size--1-of-2">
              <div class="slds-lookup" data-select="multi" data-scope="multi" data-typeahead="true">
                <div class="slds-form-element">
                  <div class="slds-grid slds-form-element__control">
                    <div class="slds-dropdown-trigger slds-align-middle">
                      <svg aria-hidden="true" class="slds-icon slds-icon-standard-user slds-icon--small slds-shrink-none">
                        <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#user"></use>
                      </svg>
                      <button class="slds-button slds-button--icon-bare slds-button-space-left slds-shrink-none">
                        <svg aria-hidden="true" class="slds-button__icon slds-button__icon--small">
                          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                        </svg>
                        <span class="slds-assistive-text">Filter</span>
                      </button>
                    </div>
                    <input id="lookup" class="slds-input--bare" type="text" aria-autocomplete="list" role="combobox" aria-expanded="true" aria-activedescendant="" placeholder="Add Related Object" />
                  </div>
                  <div class="slds-pill-container slds-hide"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slds-modal-backdrop slds-modal-backdrop--open"></div>
</div>
<!-- END Lead Large -->

<script>
function closeComposer(m){
  $(m).parents('.slds-docked-composer').toggleClass('slds-hide');
}
function closeComposerLarge(m){
  $(m).parents('.composer-large').toggleClass('slds-hide');
}
function minimizeComposer(m){
  $(m).parents('.slds-docked-composer').toggleClass('slds-is-open');
}
function expandComposer(){
  $('#lead-large').toggleClass('slds-hide');
}

$('.close-composer').click(function(){
  closeComposer($(this))
});
$('.expand-composer').click(function(){
  expandComposer();
  closeComposer($(this));
});
$('.close-composer-large').click(function(){
  closeComposerLarge($(this));
});

$('.composer-minimize').click(function() {
  minimizeComposer($(this));
});

$('.composer-save').click(function(){
  // Being Lazy, clean up hard-coded id's

var tempVal = $(this).data('composer-type');
switch(tempVal){
  case'large':
    var firstName = $('#lead-firsta').val();
    var lastName = $('#lead-lasta').val();
    var interest = $('#select1a').val();
    closeComposerLarge($(this));
  break;
  case'small':
    var firstName = $('#lead-first').val();
    var lastName = $('#lead-last').val();
    var interest = $('#select1').val();
    closeComposer($(this));
  break;
}
  rbDB.insert("lead", 
      {uid: getNextUid('lead'), 
      firstName: firstName,
      lastName: lastName,
      type: interest,
      //leadValue: getRandomInt(45, 100),
      leadValue: 101,
      rating: getRandomInt(1, 4),
      quality: 'a3',
      status: getRandomArrayValue(leadStatus),
      creditScore: getRandomInt(550, 900),
      assignedTo: '--',
      source: getRandomArrayValue(leadSource),
      lastContacted: getRandomDate('past',500),
      lastActivity: getRandomDate('past',500),
      products:'Credit, Checking',
      createDate: getRandomDate('past',365),
      }
    );
  rbDB.commit();
  
  $("#success-message").fadeIn('fast').delay(2000).fadeOut('fast');
})

</script>